{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Password Reset Successful
{% endblock %}

{% block content %}
  <div class="jumbotron">
      <p>Your password has been reset.</p>
      <p>Log in below using your new password.</p>
      {% include "bloguser/login_form.html" %}
 </div>
{% endblock %}