{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Password Reset Sent
{% endblock %}

{% block content %}
  <div class="jumbotron">
      <p>Password reset email sent!</p>
      <p>Please check your inbox and spam box.</p>

  </div>
{% endblock %}