{% extends parent_template|default:"bloguser/base_user.html" %}

{% load obfuscate_email %}

{% block title %}
{{ block.super }} -
{{ profile.user.get_full_name }}'s Profile
{% endblock %}

{% block content %}
  <div class="jumbotron">
  <div class="row">

    {% if user.pk == profile.user.pk %}
      <div class="col-sm-4">
    {% else %}
      <div class="col-sm-8">
    {% endif %}

    <h2>About {{ profile.user.get_full_name|obfuscate }}</h2>
    {{ profile.about|default:"No Profile"|linebreaks }}

        {% if profile.user.blog_posts.all %}
        <section>
            <h3>Blog Post{{ profile.user.blog_posts.count|pluralize }}</h3>
            <ul>
                {% for post in profile.user.blog_posts.all %}
                <li><a href="{{ post.get_absolute_url }}">
                    {{ post.title|title }}
                </a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif  %}

       {% if user.pk == profile.user.pk %}
        <div class="col-sm-3">
        <ul>
          <li><a href="{{ profile.get_update_url }}">
            Edit Your Profile</a></li>
          <li><a href="{% url 'dj-auth:pw_change' %}">
            Change Password</a></li>
          <li><a href="{% url 'dj-auth:disable' %}">
            Disable Account</a></li>
        </ul>
        </div>
        {% endif %}
  </div>
  </div><!-- jumbotron -->
{% endblock %}