{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Update Profile
{% endblock %}


{% block content %}
  <div class="jumbotron">
      <form action="{{ profile.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
          Update Profile</button>
      </form>
  </div>
{% endblock %}