{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Disable Account
{% endblock %}

{% block content %}
  <div class="row">
      <p>Disable your account?</p>
      <p>This cannot be undone.</p>
      <form action="{% url 'dj-auth:disable' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          Disable Account</button>
      </form>
    </div>
{% endblock %}