{% extends parent_template|default:"bloguser/base_user.html" %}
{% block title %}
{{ block.super }} - Create Account
{% endblock %}

{% block content %}
<div class="jumbotron">
    <a href="{% url 'dj-auth:resend_activation' %}">
        Lost Activation Email?</a>
    <form action="{% url 'dj-auth:create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            Create New Account
        </button>
    </form>
</div>
{% endblock %}