{% for comment in children %}

    <div style="position:relative;left:50px;">
        <p>{{ comment.text }}</p>

        {% if perms.blog.delete_comment %}
        <form action="{% url 'blog_comment_delete' comment.uuid %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="year" name="year" value="{{ post.pub_date.year }}"/>
                <input type="hidden" id="month" name="month" value="{{ post.pub_date.month }}"/>
                <input type="hidden" id=slug" name="slug" value="{{ post.slug }}"/>

                <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        {% endif %}

        <form action="{% url 'blog_child_comment_create' comment.uuid %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" id="year" name="year" value="{{ post.pub_date.year }}"/>
                <input type="hidden" id="month" name="month" value="{{ post.pub_date.month }}"/>
                <input type="hidden" id=slug" name="slug" value="{{ post.slug }}"/>

                <input id="id_child_text" class="form-control" name="text" type="text"/>
                <button class="btn btn-primary" type="submit">
                    Comment
                </button>
            </div>
        </form>
        {% include 'blog/commentfragment.html' with children=comment.comment_set.all %}
    </div>
{% endfor %}