{% extends parent_template|default:"blog/base_blog.html" %}

{% load display_form %}

{% block title %}
{{ block.super }} - Update Post
{% endblock %}

{% block content %}
{#<div>#}
{#    <div>#}
{#        <form action="{{ post.get_update_url }}" method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button class="btn btn-primary" type="submit">#}
{#                Update Post#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
{% form post.get_update_url 'Update Blog Post' %}
{% endblock %}