{% extends parent_template|default:"blog/base_blog.html" %}


{% load blog_latest %}

{% block title %}
{{ block.super }} - Blog Posts
{% endblock %}


{% block content %}

    {% get_latest_posts 5 as custom_post_list %}
    <section>
        <h4>Latest Posts</h4>
        <ul>
            {% for latest_post in custom_post_list %}
            <li><a href="{{ latest_post.get_absolute_url }}">
                {{ latest_post.title}}</a></li>
            {% endfor %}
        </ul>
    </section>

{#    {% if messages %}#}
{#    <ul>#}
{#        {% for message in messages %}#}
{#        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    {% endif %}#}

    {% if perms.blog.add_post %}
    <div>
        <a href="{% url 'blog_post_create' %}">
            Write New Blog Post
        </a>
    </div>
    {% endif %}

    {% for post in post_list %}
    <article>
    <header>
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title|title }}
            </a>
        </h2>
        <ul class="inline">
            {% if perms.blog.change_post %}
            <li>
                <a href="{{ post.get_update_url }}" class="button">
                    Edit Post
                </a>
            </li>
            {% endif %}
            {% if perms.blog.delete_post %}
            <li>
                <a href="{{ post.get_delete_url }}" class="button">
                    Delete Post
                </a>
            </li>
            {% endif %}
        </ul>

        <p>
           Written on:
            <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                {{ post.pub_date|date:"l, F j, Y" }}
            </time>
            by
            <a href="{{ post.author.get_absolute_url }}">
                {{ post.author.profile.name }}
            </a>
        </p>
    </header>
    <p>{{ post.text|truncatewords:20 }}</p>
    <p>
        <a href="{{ post.get_absolute_url }}">
            Read more&hellip;
        </a>
    </p>
    </article>
    {% empty %}
        <p><em>No Blog Posts Available</em></p>
    {% endfor %}

{% endblock %}