{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Post Confirm Delete
{% endblock %}

{% block content%}
<div>
    <div>
        <form action="{{ newslink.get_delete_url }}"
              method="post">
            {% csrf_token %}
            <p>
                Are you sure you want to delete post {{ post.slug }}?
            </p>
            <a href="{{ post.get_absolute_url }}" class="button button-primary">
                Cancel
            </a>
            <button type="submit" class="btn btn-danger">Delete Post</button>

        </form>
    </div>
</div>
{% endblock %}