{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Post Detail
{% endblock %}

{% block content %}
<article>
    <div>
        <div>
            <header>
                <h2>{{ post.title|title }}</h2>

                <ul>
                    {% if perms.blog.change_post %}
                    <li>
                        <a href="{{ post.get_update_url }}" class="button button-primary">
                            Edit Post
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.blog.delete_post %}
                    <li>
                        <a href="{{ post.get_delete_url }}" class="button button-primary">
                            Delete Post
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p>
                    Written on
                    <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                        {{ post.pub_date|date:"l, F j, Y" }}
                    </time>
                    by
                    <a href="{{ post.author.get_absolute_url }}">
                        {{ post.author.profile.name }}
                    </a>
                </p>
            </header>

            {{ post.text|linebreaks }}

            {% if perms.blog.delete_post %}
             <form action="{% url 'blog_post_delete' post.pub_date.year post.pub_date.month post.slug %}" method="post">
                {% csrf_token %}
                 <div class="form-group">
                     <button class="btn btn-danger" type="submit">Delete</button>
                 </div>
             </form>
            {% endif %}

            {% if perms.blog.add_comment %}
            <form action="{% url 'blog_comment_create' post.pub_date.year post.pub_date.month post.slug %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input id="id_text" class="form-control" name="text" type="text"/>
                    <button class="btn btn-primary" type="submit">
                        Comment
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>


{% if post.comment_set.all %}
    <footer>
        <section>
          {% comment %}  <h3>Comment{{ post.comment_set.count|pluralize }}</h3>{% endcomment %}
                <div class="container">
                    <div class="jumbotron">
                        {% for comment in post.comment_set.all %}
                            {% if comment.depth == 0 %}
                            <p>{{ comment.text }}</p>

                                {% if perms.blog.delete_comment %}
                                <form action="{% url 'blog_comment_delete' comment.uuid %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="year" name="year" value="{{ post.pub_date.year }}"/>
                                    <input type="hidden" id="month" name="month" value="{{ post.pub_date.month }}"/>
                                    <input type="hidden" id=slug" name="slug" value="{{ post.slug }}"/>

                                    <button class="btn btn-danger" type="submit">Delete</button>
                                 </form>
                                {% endif %}

                                {% if perms.blog.view_child_comments %}
                                <form action="{% url 'blog_child_comment_create' comment.uuid %}" method="post">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <input type="hidden" id="year" name="year" value="{{ post.pub_date.year }}"/>
                                        <input type="hidden" id="month" name="month" value="{{ post.pub_date.month }}"/>
                                        <input type="hidden" id=slug" name="slug" value="{{ post.slug }}"/>

                                        <input id="id_child_text" class="form-control" name="text" type="text"/>
                                        <button class="btn btn-primary" type="submit">
                                            Comment
                                        </button>
                                    </div>
                                </form>
                            {% include 'blog/commentfragment.html' with children=comment.comment_set.all %}
                            {% endif %}<!--view_child_comments permission
                            {% endif %}<!--comment depth = 0
                        {% endfor %}
                    </div>
                </div>
        </section>
    </footer>
{% endif %}
</article>
{% endblock %}


{#                <li>#}
{#                    {{ comment.text }}#}
{#                    <div>#}
{#                        {% for child in comment.comment_set.all %}#}
{#                            <p>{{ child.text }}</p>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <form action="{% url 'blog_child_comment_create' comment.uuid.hex %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <p>#}
{#                            <input type="hidden" id="year" name="year" value="{{ post.pub_date.year }}"/>#}
{#                            <input type="hidden" id="month" name="month" value="{{ post.pub_date.month }}"/>#}
{#                            <input type="hidden" id=slug" name="slug" value="{{ post.slug }}"/>#}
{##}
{#                            <input id="id_child_text" name="text" type="text"/>#}
{#                        </p>#}
{#                        <button class="btn btn-primary" type="submit">#}
{#                            Comment#}
{#                        </button>#}
{#                    </form>#}
{#                </li>#}