{% extends parent_template|default:"blog/base_blog.html" %}

{% load display_form %}

{% block title %}
{{ block.super }} - Create Blog Post
{% endblock %}

{% block content %}
{#<div>#}
{#    <div>#}
{#        <form action="{% url 'blog_post_create' %}"#}
{#              method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button class="btn btn-primary" type="submit">#}
{#                Add Post#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
{% url 'blog_post_create' as form_url %}
{% form form_url 'Create Blog Post' %}
{% endblock %}