{% extends parent_template|default:"base.html" %}
{% block title %}
Page Not Found
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Page Not Found</h1>
        <p>The path {{ request.path }} is not a webpage on this site</p>
    </div>
</div>
{% endblock %}