{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Blog
        {% endblock %}
    </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'site/bootstrap.css' %}">
    <script type="text/javascript" src="{% static  'site/bootstrap.js' %}"></script>
    <link rel="alternate" title="Blog News RSS" type="application/rss+xml" href="{% url 'blog_rss_feed' %}">
    <link rel="alternate" title="Blog News Atom" type="application/atom+xml" href="{% url 'blog_atom_feed' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'blog_post_list' %}">Posts</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'dj-auth:logout'%}?next={{ request.path }}">Log Out</a></li>
            <li><a href="{% url 'dj-auth:profile' %}">View Profile</a></li>
            <li><a href="#">{{ user.username }}</a></li>
        {% else %}
            <li><a href="{% url 'dj-auth:login' %}?next={{ request.path }}">Log In</a></li>
        {% endif %}
            <li><a href="{% url 'dj-auth:create' %}">Register</a></li>
    </ul>
  </div>
</nav>
    <header>
        <h1>Blog</h1>
    </header>
    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<main>
    {% block content %}
    This is default content
    {% endblock %}
</main>
<footer>
    <ul>
        <li>
            <a href="{% url 'sitemap' %}">
                Sitemap
            </a>
        </li>
        <li>
            <a href="{% url 'blog_rss_feed' %}">Blog RSS Feed</a>
        </li>
        <li>
            <a href="{% url 'blog_atom_feed' %}">Blog Atom Feed</a>
        </li>
    </ul>
</footer>
</body>
</html>